
<h1>Welcome to Apex!</h1>

<p>Congratulations, if you're viewing this page Apex has been successfully installed and is ready for use!  To help you get started, click on one of the below links for useful documentation and community support.</p>

<s:boxlist>

    <s:item href="https://apexpl.io/guides/" title="Learn By Example Guides">
        Get up and running developing with Apex using the easy to follow learn by example guides.
    </s:item>

    <s:item href="https://apexpl.io/docs/" title="Developer Documentation">
        Full and comprehensive developer documentation covering all facets of Apex.
    </s:item>

    <s:item href="https://reddit.com/r/apexpl" title="Reddit (/r/apexpl)">
        Having issues, and need some help?  Post on the /r/apexpl sub Reddit for a prompt and helpful response.
    </s:item>

</s:boxlist>


